doctype html
html
  head
    title Aritlce
    link(rel='stylesheet', href='/stylesheets/yaml/core/base.min.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/javascripts/edit.js')
    script(src='/javascripts/jquery-ui.min.js')
    
  body
   nav#nav
     div.ym-wrapper
       div.ym-hlist
         span(style='float:left; margin-top : 10px; padding : 0.5em 1.5em;')
           a(href='/' style='font-size : 20px; color : white') HGTech
         ul(style='float:right;')
           li 
             a(href='/') Home
           li 
             a(href='#') Dashboard
           if !session.user
            li 
             a(href='/signup?returnUrl=' + '#{encodeURIComponent (session.currentPage)}') Sign up
            li
             a(href='/login?returnUrl=' + '#{encodeURIComponent (session.currentPage)}') Login
           else
            li
             a(href='#') Admin
   header
     div.ym-wrapper
       div.ym-wbox
         h1 HGTech Blog
   div.ym-wrapper
    div.ym-wbox 
     section.ym-grid.linearize-level-1

   div#hgtech-editor
          h5 HGTECH Editor
          form(action='/postArticle' method='post').editor
           input(type='text' name='title' value='#{article.title}')
           
            if article._id
             input(type='hidden' name='article_id' value='#{article._id}')
   div.footer
      div.ym-wrapper
        div.ym-wbox(style='height : 100px;')