html

  head
    title #{title}
      style(type='text/css')
        #wrapper {
          font: 10px Arial;
          padding: 5px;
          border: 1px solid #ccc;
          margin: 0 auto;
        }
        #content {
          margin: 10px 0;
        }
        .highlighted {
          background: #d0ff5e;
        }

  body
    #wrapper

      h1 #{title}
        #content
          p Jade is intuitive, Jade is logical. Jade makes HTML easy, Jade saves time.
            p.highlighted Here is some highlighted text.
            button#alert Click Me

        footer
          span Copyright &copy; 2013 
            a(href='/') Home

// script tag at the end to query the DOM straightaway
  script
    var greeting = 'Welcome to Jade';
      document.querySelector('#alert').onclick = function() {
        alert(greeting);
        };
